scikit-learn==1.5.2
python-fasthtml==0.14.13
starlette==1.6.0
fastcore==2.2.21
httpx2==2.12.0
python-multipart==0.0.32
matplotlib==3.9.2
scipy==1.14.1
numpy==2.1.2
pandas==2.2.3
setuptools==80.9.0
-e ./python-package
pytest==8.3.3
flake8==7.1.1
ipython==8.28.0
